.env
env/
venv/
**/venv
**/env
uploads/
uploads/*
**/backup*
**/*tmp
**/*pyc
**pyc
*.pyc
*.sqlite3
**/app/migrations/*_initial.py
__pycache__/
**/frontend/migrations/__pycache__
**/frontend/migrations/__pycache__/*.pyc